@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Red+Hat+Text:wght@400;500;700&display=swap');
/* body{
    background-image: url("../images/pattern-hills.svg");
    background-repeat: no-repeat;
} */
.bg-img1{
    background-image: url("../images/bg-stars.svg");;
    background-repeat: no-repeat;
}
